Resources/WINPE_22H2_X64.wim filter=lfs diff=lfs merge=lfs -text
Resources/WINPE_2004_X86.wim filter=lfs diff=lfs merge=lfs -text
D:/Data/C\#Code/BackupOSToNAS/Resources/WINPE_2004_X86.wim filter=lfs diff=lfs merge=lfs -text
